@import url("http://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic");
@import (inline) "../../vendor/normalize-css/normalize.css";
@import "../../vendor/semantic-grid/stylesheets/less/grid.less";
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

@pcc-monospace-family: 'Anonymous Pro', 'Andale Mono', 'Courier', monospace;
@pcc-sans-serif-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@pcc-serif-family: 'Georgia', 'Times New Roman', 'Times', serif;

@img-px-pattern-white: '/assets/img/px-pattern-white.gif';

.pcc-sans-serif() {
	font-family: @pcc-sans-serif-family;
}

.pcc-serif() {
	font-family: @pcc-serif-family;
}

.pcc-monospace() {
	font-family: @pcc-monospace-family;
}

.px-bg() {
  background: transparent url(@img-px-pattern-white) 0 0 repeat;
}

.px-bg-grey() {
  background: #eee url(@img-px-pattern-white) 0 0 repeat;
}

.cf() {
  zoom: 1; // For IE 6/7 (trigger hasLayout)
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
      clear:both;
  }
}


body {
  .pcc-sans-serif();
  .px-bg-grey();
}

// h1, h1 * {
//   .pcc-monospace();
// }

header {
  .px-bg();

  text-align: right;
  position: fixed;
  width: 10%;
  padding: 2.5%;

  nav {

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

section {
  .cf();

  padding: 1em 1em 1em 15%;
  h2 {
    .column(12);
  }
}

#canvas {
  width: 100%;
  height: 100%;
}


#feed {
}

#class {
}

#lectures {
}

#resources {
}

#readings {
}

#readings {
}

#reference {
}

#students {
}


.cc-three-column {
  .column(4);
}

@media screen and (max-width: 600px) {
  .cc-three-column {
    .column(12);
  }
}
