<meta charset="utf-8">
<title>Creative Computing / {{ page.title }}</title>

<!--
css reset. the browser has default css styles which we may not want, so
this resets those styles andgives us a clean slate to start from.
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<!--
main site styles
-->
<link rel="stylesheet" href="assets/css/style.css">

<!--
this includes a handy little script that makes html5 tags work on older,
incompatible browsers.
-->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
