---
# Sassy styles
---

body {
	font-family: 'Georgia', 'Times New Roman', 'Times' serif;
	font-size: 20px;
	line-height: 1.5em;
	background: #fff;
}

h1, h2, h3, h4, h5, code, pre {
	font-family: 'Annonymous Pro', 'Andale Mono', 'Courier' monospace;
}

main {
	color: black;
}
